[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
uvicorn = "*"
pydantic = "*"
pika = "*"
asyncio = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
